{%extends 'base.html'%}

{%block head%}

<div class="heading" style="text-align: center;align-content: center;">
    <div class="card"
        style="width: 30rem !important; left: 50rem !important; height: 43rem !important; align-items: center; text-align: center">
    <img class="card-img-top" src="https://abr2435assign1.blob.core.windows.net/quiz0contain/cat.jpg"
        alt="Card image cap" width="400"
        height="341"> 
    <div class="card-body" style="text-align:center;">
        <h5 class="card-title" style="text-align:center">Quiz 0</h5>
        <div>
            <h2>
                <p class="card-text" style="text-align:center">Name: Achal Bhujangaswami Raghuveer</p>
                <p class="card-text" style="text-align:center">UTA ID : 1002102435</p>
            </h2>
        </div>
    </div>
</div>

{%endblock%}

{%block body%}

<h1>--------------------------------------------------------------------------------------------------------------------</h1>
<br><br>
<form action="/search" method="POST">
    <input type="text" name="telNo" placeholder="Search query" required>
    <button type="submit">Search</button>
</form>

<h1>Image Result</h1>
    {% if imgLink %}
        <img src="{{ imgLink }}" alt="Image" width="400"
        height="341">
    {% else %}
        <p>No image found.</p>
    {% endif %}
    {% if name %}
        <h3>Name: {{name}}</h3>
    {% else %}
        <p>No Name found.</p>
    {% endif %}
    {% if descript %}
        <h3>Descript: {{descript}}</h3>
    {% else %}
        <p>No descript found.</p>
    {% endif %}


    <h1>--------------------------------------------------------------------------------------------------------------------</h1>


    <!-- <form action="/money" method="POST">
        <input type="number" name="number1" placeholder="Search query" required>
        <input type="number" name="number2" placeholder="Search query" required>
        <button type="submit">Check</button>
    </form> -->

    <!-- <h1>Image Money in Range Result</h1>
    {% for imgVal in linkVals %}
        <img src="{{ imgVal }}" alt="Image">
    {% endfor %} -->

{%endblock%}
